.env
_.env.local
_.env.development.local
_.env.test.local
_.env.production.local
__pycache__/
*.pyc
.DS_Store
node_modules/
dist/
build/
.vscode/
.idea/
*.log
coverage/
*.sqlite3
*.db
*.bak
*.swp
*.swo

.venv/
.envrc
*.iml
*.class
out/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.egg-info/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache      


.yml
.yaml
*.pem
*.key
*.crt
*.p12
*.pfx 
